
    <div class="w100">
        <div class="row jumbotron topnavigation">
            <div class="col-sm-2">
                <div class="img-logo">
                    <img class="img-responsive" src="assets/images/logo.png" alt="Gosmac"/>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="sologan">
                    <span>{{slogan}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 leftside">
                <menu class="nav left-bar"></menu>
            </div>
            <div class='col-sm-10 rightside'>
                <div class="product-panel">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
     </div>
