<!--<div *ngFor="let person of people">
    <span>Tên: {{person.name}}</span>
    <span>Tên: {{person.job}}</span>
</div>-->
<header class="main-header">
    <div class="fw topnavigation">
        <div class="logo">
            <a href="/"><img class="img-responsive" src="assets/images/logo.png" alt="Gosmac" /></a>
        </div>
        <div class="sologan">
            <span>{{slogan}}</span>
        </div>
    </div>
</header>
<aside class="main-sidebar">
    <section class="sidebar">
        <menu></menu>
    </section>
</aside>

<div class="fw main-wrapper">
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Advanced Form Elements
                <small>Preview</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">Advanced Elements</li>
            </ol>
        </section>
        <section class="content">
            <router-outlet></router-outlet>
        </section>
    </div>
</div>
<div class="fw">
<footer class="main-footer">
    <div class="fl">
        <strong>Copyright © 2015-2017 GoSMAC.</strong> All rights reserved.
    </div>
    <div class="fr">
        Version 1.0
    </div>
</footer>
</div>