
        <div class="fw topnavigation">
            <div class="col-sm-2 logo">
                <div class="img-logo">
                    <img class="img-responsive" src="assets/images/logo.png" alt="Gosmac"/>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="sologan">
                    <span>{{slogan}}</span>
                </div>
            </div>
        </div>
        <div class="fw main-content">
            <div class="col-sm-2 sidebar">
                <menu class="nav left-bar"></menu>
            </div>
            <div class='col-sm-10 content'>
                <div class="product-panel">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>