<div id="sidebar" class="expanded">
                <ul class="list-unstyled">
                    <li><a [routerLink]="['/welcome']" class="active">
                        <i class='fa fa-dashboard'></i><br>
                        <span>Tổng quan</span></a>
                    </li>
                    <li><a [routerLink]="['/product']">
                        <i class='fa fa-shopping-cart'></i><br>
                        <span>Kho</span></a>
                    </li>
                    <li><a [routerLink]="['/ban-hang']">
                        <i class='fa fa-file'></i><br>
                        <span>Bán hàng</span></a>
                    </li>
                    <li><a [routerLink]="['/khach-hang']">
                        <i class='fa fa-users'></i><br>
                        <span>Khách hàng</span></a>
                    </li>
                    <li><a [routerLink]="['/ncc']">
                        <i class='fa fa-user'></i><br>
                        <span>Nhà cung cấp</span></a>
                    </li>
                    <li><a [routerLink]="['/bao-cao']">
                        <i class='fa fa-bar-chart'></i>
                        <br>
                        <span>Thống kê, Báo cáo</span></a>
                    </li>
                </ul>
            </div>