
    <form class="form-horizontal" #f="ngForm" (ngSubmit)="SaveForm()">
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Tên sản phẩm</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="P_Name" [(ngModel)]="product.name" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Mã sản phẩm</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="p_Code" [(ngModel)]="product.code" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Giá sản phẩm</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="P_BuyPrice" [(ngModel)]="product.buyPrice" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Số lượng</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="P_Quantity" [(ngModel)]="product.quantity" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success btn-sm btn-flat">Lưu</button>
                <button type="button" class="btn btn-danger btn-sm btn-flat" (click)="GotoProduct()">Hủy bỏ</button>
            </div>
        </div>
    </form>